.btn-submit {
    float: right;
    border: 1px solid #16A086;
    color: #16A086;
    margin-top: 20px;
}

.count-textarea {
    margin-right: 10px;
    color: #9e9e9e;
}

.materialize-textarea {
    margin: 0px !important;
}

